html,
body {
  padding: 0;
  margin: 0;
 font-family: 'Poppins', sans-serif;
 
}
.testTitle{
   
 padding: 5px;
 padding-top: 0;
    text-align: center;
    position: relative;
}
.testTitle::after{
     content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: block;
  width: 10%;
  margin: auto;
  height: 2px;
  background-color: var(--light-blue);
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    
   
  }
}
